div.form_floater {
	float: left;
}
div.form_divider {
	width: 800px;
	border-top: 1px solid #c2c2c2;
	margin: 10px 0;
}
div#total_summary {
	font-weight: bold;
	font-size: 14px;
}
div#big_error_box {
	width: 800px;
	display: none;
	background: #FFFFD3 url('/image/error.png') 4px 3px no-repeat;
	padding: 4px;
	padding-left: 30px;
	display: none;
	
}
div#tab_bar {
	height: 40px;
}
a#giant_upload_button {
	background: white url('/image/upload_button_normal.png') left top no-repeat;
	display: block;
	width: 257px;
	height: 57px;

}
a#giant_upload_button:hover {
	background: white url('/image/upload_button_active.png') left top no-repeat;
}
