/****************** MESSAGES VIEW *******************/
.messages_view {

	min-width:750px;
	clear:right;
	margin-bottom:20px;
}

.messages_view .messages_tbl {
	width: 100%;

}
.messages_tbl td{
	background-color:#ededed;
	padding:5px;
	margin:5px;
	vertical-align:bottom;
}
.messages_tbl .column_1 img {
	float:left;
	margin-right:8px;
}
.messages_tbl #column_select_all {
	width:90px !important;
}
.messages_tbl #column_status {
	width:90px !important;
}
.messages_tbl #column_date_updated {
	width:160px !important;
}
.messages_tbl #column_user {
	width:160px !important;
}




/****************** NEW MESSAGE MODAL *******************/
.modal_new * {
	float:none;
	line-height:1.2;
}
.modal_new h5 {
	margin:6px 0px 6px 0px;
}
.modal_new input {
	border: 1px solid #C2C2C2;
	color:#989898;
}
.modal_new textarea {
	width:410px;
	font-family: "Nimbus Sans L", "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size:12px;
	padding:2px;
	line-height:1.1;
}
.modal_new #to_txt{
	height:30px;
}
.modal_new #msg_txt {
	height:90px;
}
.modal_new input{
	width:410px;
	font-family: "Nimbus Sans L", "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size:12px;
	padding:1px;
}
.modal_new label {
	display:block;
	margin:9px 0px;
}
.modal_new .parenthetical {
	color:#989898;
	font-style:normal;
	padding-left:10px;
}




/****************** READ REPLY MODAL *******************/
.modal_read_reply .msgsubj{
	
}
.modal_read_reply .top_buttons{
	color:#989898;
	float:right;
 	margin:2px 10px 0px 0px;
}
.modal_read_reply .top_buttons *{
	display:inline;
	float:none; 
}

.modal_read_reply .avatar {
	margin:10px 0px 10px 0px;
	height:60px;
}

.modal_read_reply .avatar img{
	float:left;
	height:50px;
	width:50px;
	border:2px solid #cdcdcd;
	margin:0px 10px 0px 0px;	
}

.modal_read_reply .msgbody{
	margin:10px 0px 0px 0px;
	height:200px;
	padding:2px;
	border:1px solid #cdcdcd;
	overflow:auto;
}
.modal_read_reply .shorten{
	height:100px !important;
	overflow:auto;
}
.modal_read_reply .bottom_buttons {
	position:absolute;
	top:365px;
	left:20px;
}
.modal_read_reply .textarea {
	width: 440px;
	border: 1px solid #cdcdcd;
	padding: 1px;
	padding-bottom: 0;
	font-family: "Nimbus Sans L", "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#989898;
}