.album_container a, .album_color a {
	outline: none;
	text-decoration: none;
	color:#371d03 !important;
}
.album_container a.selected {
	border:1px solid #371d03 !important;
}
.album_container .page {
	color:#371d03 !important;
}