.album_container a, .album_color a {
	outline: none;
	text-decoration: none;
	color:#666666 !important;
}
.album_container a.selected {
	border:1px solid #666666 !important;
}
.album_container .page {
	color:#666666 !important;
}