.album_container a, .album_color a {
	outline: none;
	text-decoration: none;
	color:#ffb566 !important;
}
.album_container a.selected {
	border:1px solid #ffb566 !important;
}
.album_container .page {
	color:#ffb566 !important;
}