.album_container a, .album_color a {
	outline: none;
	text-decoration: none;
	color:#fff !important;
}
.album_container .page {
	color:#fff !important;
}
.album_container a.selected {
	border:1px solid #fff !important;
}