h1 {
	margin-top: 0;
	margin-bottom: 2px;
	font-family: "Luxi Sans", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 25px;
	letter-spacing: -1px;
}
h2 {
	margin-top: 0;
	margin-bottom: 2px;
	font-family: "Luxi Sans", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 21px;
	letter-spacing: -1px;
}
h3 {
	margin-top: 0;
	margin-bottom: 2px;
	font-family: "Luxi Sans", Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 16px;
	letter-spacing: -1px;
}
div#col {
	clear:right;
}

div#main_page_container {
	text-align:left; /* for ie */
        width: 855px;
        margin: 0 auto;
        margin-top: 20px;
}
div#main_page_container img {
	border: none;
}
body {
	margin: 0;
	text-align: center; /* for ie */
	background: white;
	color:#686868;
	font-family: "Nimbus Sans L", "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size:12px;
}
div#main_photo_container {
        float: left;
        width: 481px;
        height: 422px;
        background: white url('site_down.png') left top no-repeat;
}

div#main_happy_talk {
        width: 355px;
        float: right;
        padding-top: 2px;
}

.boilerplate{
	margin-top: 15px;
        color: #989898;
        width: 100%;
	text-align: left;
	font-size: 12px;
}

div#caption {
	width: 100px;
	height: 50px;
	margin-left: 220px;
	margin-top: 45px;
}
a { /* remove annoying dashed border that browsers apply to links */
	outline: none;
	text-decoration: none;
	color: #f57096;
}
a:hover {
	color: #cbcbcb;

}
